@model CarRental.Web.Models.ChangePassword
@{
    ViewBag.Title = "Slaptažodžio keitimas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h2>@ViewData["Title"].</h2>
    <h4>Pasikeiskite savo slaptažodį.</h4>
    <hr />
    <form asp-controller="Account" asp-action="ChangePasswrod" class="form-horizontal" method="post">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CurrentPassword" class="form-control input-width280" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewPassword" class="form-control input-width280" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewPasswordConfirm" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewPasswordConfirm" class="form-control input-width280" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Pakeisti</button>
            </div>
        </div>
    </form>
</div>
