@using System.Web.Helpers;
@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebGrid grid = new WebGrid(Model, rowsPerPage: 5);
}

<h2>Grid</h2>

<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 300px;
    }

    .header {
        background-color: gray;
        font-weight: bold;
        color: #fff;
    }

    .table th, .table td {
        border: 1px solid black;
        padding: 5px;
    }
</style>



@grid.GetHtml(
    tableStyle: "table", // applying style on grid
    fillEmptyRows: true,
    //show empty row when there is only one record on page to it will display all empty rows there.
    headerStyle: "header", //applying style.
    footerStyle: "grid-footer", //applying style.
    mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: new[]  // colums in grid
    {
        grid.Column("Username"), //the model fields to display
   })