@using CarRental.DataAccess.Entities;

@model CarRental.Web.Models.Master
@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="input-group padding10">
        <input id="txt_Search" type="text" class="form-control table table-bordered" placeholder="Search" />
        <span class="input-group-addon">
            <a class="noUnderline" href="#"><i class="glyphicon glyphicon-search" onclick="searchUsers()"></i></a>
        </span>
    </div>
    <div id="dynTable">
        @Html.Partial("MasterPartial", Model)
    </div>

</body>


<script>
    $("#txt_Search").keyup(function () {
        searchUsers();
    });

    

    function searchUsers() {
        var searchQuery = $("#txt_Search").val();
            $.ajax({
                type: "POST",
                url: "/Account/MasterSearch", // the method we are calling
                contentType: "application/json",
                data: JSON.stringify(searchQuery),
                success: function (result) {
                    $("#dynTable").html(result);
                },
            });

    }

</script>



<style>
    .padding10{
        padding-bottom: 10px;
        padding-top: 10px;
    }
</style>
