@model CarRental.Web.Models.Cars
@{
    ViewBag.Title = "Auto nuoma";
}


    <h1>Automobilių nuoma</h1>

    <div class="search-container col-xs-3">
        <span class="text-danger" id="validationSummary"></span>
        <form asp-controller="Home" asp-action="Index" class="form-horizontal" method="post">
                <label asp-for="StartDate"></label></br>
                <div class="row left-right-margin1">
                    <div class="input-group date" id="datetimepickerStart">
                        <input asp-for="StartDate" class="form-control" id="orderStart"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <label asp-for="EndDate"></label></br>
                <div class="row left-right-margin1">
                    <div class="input-group date" id="datetimepickerEnd">
                        <input asp-for="EndDate" class="form-control" id="orderEnd" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <span asp-validation-for="EndDate" class="text-danger"></span>
                <div class="row top-margin10" align="right">
                    <button class="orderBtn" type="submit" id="btnSubmit">
                        Filtruoti
                    </button>
                </div>
        </form>
    </div>

<div id="carResults" class="col-xs-9">
    @Html.Partial("IndexPartial", Model)
</div>
<div class="row"></div>




<script>
   
    $(function () {
        validateDates();
        $('#datetimepickerStart').datetimepicker().on('dp.change', function (e) {
            validateDates();
        });


        $('#datetimepickerEnd').datetimepicker().on('dp.change', function (e) {
            validateDates();
        });

    });

    $("#datetimepickerStart").datetimepicker({
        format: 'YYYY-MM-DD HH:mm'
    });

    $("#datetimepickerEnd").datetimepicker({
        format: 'YYYY-MM-DD HH:mm'
    });


    function validateDates() {
        var days = daydiff(orderStart, orderEnd);
        var validation = document.getElementById("validationSummary");
        if (days < 0) {
            validation.innerHTML = "Pradžios data yra vėliau negu pabaigos data";
        } else if (days == 0) {
            validation.innerHTML = "Užsakymo trukmė turi būti bent viena diena";
        } else if (isEarlierThanNow(orderStart) || isEarlierThanNow(orderEnd)) {
            validation.innerHTML = "Pasirinkta diena jau praėjo";
        } else {
            validation.innerHTML = "";
            document.getElementById("btnSubmit").disabled = false;
            return true;
        }
        document.getElementById("btnSubmit").disabled = true;
        return false;
    }


    //$('#datepicker1').datepicker($.datepicker.regional['lt']);
    /*$("#datepicker1").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        language: "lt",
        orientation: "top"
    });

    $("#datepicker2").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        language: "lt",
        locale: "lt",
        orientation: "top"
    });*/

    /*$("#datepicker1").datepicker();

    $('datepicker1').on('changeDate', function (ev) {
        $(this).datepicker('hide');
    });*/

   /* $(function () {
        $("#datepicker1").datepicker();
        $( "#datepicker1" ).datepicker("show");
    });*/

    /*define('jqueryui/datepicker-lt', ['jquery', 'jqueryui/datepicker'], function (jQuery) {

        jQuery(function ($) {
            $("#datepicker1").datepicker.regional['lt'] = {
                closeText: 'UÂdaryti',
                prevText: '&#x3c;Atgal',
                nextText: 'Pirmyn&#x3e;',
                currentText: 'Âiandien',
                monthNames: ['Sausis', 'Vasaris', 'Kovas', 'Balandis', 'GeguÂ?', 'BirÂelis',
                'Liepa', 'Rugpj?tis', 'Rugs?jis', 'Spalis', 'Lapkritis', 'Gruodis'],
                monthNamesShort: ['Sau', 'Vas', 'Kov', 'Bal', 'Geg', 'Bir',
                'Lie', 'Rugp', 'Rugs', 'Spa', 'Lap', 'Gru'],
                dayNames: ['sekmadienis', 'pirmadienis', 'antradienis', 'tre?iadienis', 'ketvirtadienis', 'penktadienis', 'ÂeÂtadienis'],
                dayNamesShort: ['sek', 'pir', 'ant', 'tre', 'ket', 'pen', 'ÂeÂ'],
                dayNamesMin: ['Se', 'Pr', 'An', 'Tr', 'Ke', 'Pe', 'Âe'],
                weekHeader: 'Wk',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['lt']);
        });
    });*/



        //$.datepicker.setDefaults($.datepicker.regional[""]);
       // $("#datepicker1").datepicker($.datepicker.regional["lt"]);
        /*$("#locale").change(function () {
            $("#datepicker").datepicker("option",
				$.datepicker.regional[$(this).val()]);
        });*/


</script>