@model CarRental.Web.Models.Car

<div class="carResultsDiv">
    <div class="carResultDiv">
        <table id="carResultTable">


            <tbody id="carTableBody">
                <tr>
                    <td>
                        <div>
                            <img class="carImage" src="http://cdn.rcstatic.com/images/car_images/new_images/kia/rio_lrg.jpg" />
                        </div>
                    </td>

                    <td class="carResultRow_CarSpec">
                        <h2>
                            Kia Rio
                        </h2>
                        <span class="orderBtn">Order</span>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>