@model CarRental.Web.Models.Cars

<div id="carResultsDiv" class="carResultsDiv">
    
</div>


<script>

    $(document).ready(function () {
        displayCars();
    });

    function displayCars() {

        @for (var i = 0; i < Model.CarList.Count; i++) {
            var car = Model.CarList.ElementAt(i);

            @:var body = document.getElementById('carResultsDiv');
            @:var carResultDiv = document.createElement("div");
            @:carResultDiv.className = "carResultDiv";
            @:var tbl = document.createElement('table');
            @:var tbdy = document.createElement('tbody');
            @:var tr = document.createElement('tr');
            @:var td = document.createElement('td');
            @:var image = document.createElement('img');
            @:image.className = "carImage";
            @:image.src = '@car.Photo';
            @:td.appendChild(image);
            @:var td2 = document.createElement('td');
            @:td2.className = "carResultRow_CarSpec";
            @:var make = document.createElement('h2');
            var name = car.Make + " " + car.Model;
            @:make.innerHTML = '@name';
            @:var specsDiv = document.createElement('div');
            @:specsDiv.className = "carSpecs";
            @:var specs = document.createElement('span');
            @:specs.innerHTML = "test";
            @:specsDiv.appendChild(specs);
            @:var btnRef = document.createElement('a');
            @:btnRef.className = "noUnderline";
            @:btnRef.href = "@Html.Raw(@Url.Action("OrderSubmit", "Order",
                            new { @id = car.Id, @start = Model.StartDate, @end = Model.EndDate }))";
            @:var btn = document.createElement('span');
            @:btn.className = "orderBtn";
            @:btn.innerHTML = "Užsakyti";
            @:btnRef.appendChild(btn);

            @:td2.appendChild(make);
            @:td2.appendChild(specsDiv);
            @:td2.appendChild(btnRef);
            @:tr.appendChild(td);
            @:tr.appendChild(td2);
            @:tbdy.appendChild(tr);
            @:tbl.appendChild(tbdy);
            @:carResultDiv.appendChild(tbl);
            @:body.appendChild(carResultDiv);
        }

    }

    function goToOrderPage(car) {
        var StringToPost = JSON.stringify({ id: car, start: null, end: null });
        $.ajax({
            url: "@Url.Action("OrderSubmit", "Order")",
            type: 'GET',
            contentType: "application/json",
            dataType: 'html',
            data: StringToPost,
            success: function (data) {
            var imagestring = btoa(data);
            $('#ChartImage').html(data);
        }
    })

    }
</script>