@model CarRental.DataAccess.Entities.Order
<div id='autoId' class="row">
    <h2>Naujas užsakymas</h2>
    <div class="form-horizontal col-md-5">
        <div class="form-group">
            <label class="col-md-4 control-label">Automobilis</label>
            <div class="col-md-8">
                <input type="text" id="autoModel" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Nuomos pražia</label>
            <div class="col-md-8">
                <div class='input-group date' id='datetimepickerstart'>
                    <input type='text' class="form-control" id="orderStart" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Nuomos pabaiga</label>
            <div class="col-md-8">
                <div class='input-group date' id='datetimepickerend'>
                    <input type='text' class="form-control" id="orderEnd" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Nuomos trukmė</label>
            <div class="col-md-8">
                <input type='text' id="duration" class="form-control"  disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Pristatymo vieta</label>
            <div class="col-md-8">
                <input asp-for="RentPlace" id="rentPlace" class="form-control" />
                <span asp-validation-for="RentPlace" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Grąžinimo vieta</label>
            <div class="col-md-8">
                <input asp-for="RentReturn" id="rentReturn" class="form-control" />
                <span asp-validation-for="RentReturn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Paros Kaina</label>
            <div class="col-md-8">
                <input asp-for="DayPrice" id="dayPrice" class="form-control" disabled/>
                <span asp-validation-for="DayPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Užsakymo kaina</label>
            <div class="col-md-8">
                <input type='text' id="price" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Komentarai</label>
            <div class="col-md-8">
                <input asp-for="Comments" id="comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Vardas</label>
            <div class="col-md-8">
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Pavardė</label>
            <div class="col-md-8">
                <input asp-for="Surname" id="surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Telefonas</label>
            <div class="col-md-8">
                <input asp-for="Phone" id="phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">E. Paštas</label>
            <div class="col-md-8">
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Ivesti" onclick='create();/*location.href="/Order/OrderIndex";*/' class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-horizontal col-md-7">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Modelis</th>
                    <th>Metai</th>
                    <th>Kuras</th>
                    <th>Valst. nr.</th>
                    <th>Pavaros</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="autos"></tbody>
        </table>
    </div>
    <p>
        <a asp-action="OrderIndex">Grįžti į sąrašą</a>
    </p>
</div>

<script>
   
    function isFree() {
        $("#autos").html("");
        var start = new Date(orderStart.value);
        var startDay = start.getDate();
        var startMonth = start.getMonth() + 1;
        var startYear = start.getFullYear();
        var end = new Date(orderEnd.value);
        var endDay = end.getDate();
        var endMonth = end.getMonth() + 1;
        var endYear = end.getFullYear();

        $.getJSON('/api/autos/' + startMonth + '-' + startDay + '-' + startYear + '/' + endMonth + '-' + endDay + '-' + endYear)
            .done(function (data) {
                $.each(data, function (key, item) {
                    var html = '<tr><td>' + item.Make + '</td><td>' + item.Year + '</td><td>'
                         + item.FuelType + '</td><td>' + item.PlateNumber + '</td><td>'
                         + item.Gearbox + '</td><td>'
                         + '<button type="button" class="btn btn-link" onclick="addAuto(' + item.AutoId + ');">Rinktis</button>';
                    $("#autos").append(html);
                });
            });
    }

    $(function () {
        $('#datetimepickerstart').datetimepicker().on('dp.change', function (e) {
            orderTime(orderStart, orderEnd); isFree(orderStart, orderEnd);
        });
       

        $('#datetimepickerend').datetimepicker().on('dp.change', function (e) {
            orderTime(orderStart, orderEnd); isFree(orderStart, orderEnd);
        });
    });
     
    function create() {
        $.ajax({
            type: "POST",
            url: "../api/orders",
            data: JSON.stringify({
                "AutoId": document.getElementById('autoId').value,
                "OrderStart": checkDate(document.getElementById('orderStart').value),
                "OrderEnd": checkDate(document.getElementById('orderEnd').value),
                "RentPlace": document.getElementById('rentPlace').value,
                "RentReturn": document.getElementById('rentReturn').value,
                "DayPrice": check(document.getElementById('dayPrice').value),
                "DeliveryPrice": check(document.getElementById('deliveryPrice').value),
                "Comments": document.getElementById('comments').value,
                "Name": document.getElementById('name').value,
                "Surname": document.getElementById('surname').value,
                "Phone": document.getElementById('phone').value,
                "Email": document.getElementById('email').value
            }),
            contentType: "application/json"
        });
    }

    function addAuto(auto) {
        $.getJSON('../../api/autos/' + auto)
            .done(function (data) {
                $('#autoId').val(data.AutoId);
                $('#autoModel').val(data.Make + ' ' + data.PlateNumber);
                getPrice(data.AutoId);                
            });
    }

    function getPrice(autid) {
        $.getJSON('/api/autos/' + autid + '/' + document.getElementById('duration').value + '/bla')
            .done(function (price) {
                $('#dayPrice').val(price);
                $('#price').val(document.getElementById('dayPrice').value
                    * document.getElementById('duration').value);
            });

    }

    function check(id) {
        if (id.length == 0) {
            id = 0;
            return id;
        }
        return id;
    }

    function checkDate(date) {
        if (date.length == 0) {
            date = '2000-01-01'
            return date;

        }
        return date;
    }
</script>
