@model CarRental.DataAccess.Entities.Order
<div class="row">
    <h2>Užsakymo redagavimas</h2>
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">Auto Id</label>
            <div class="col-md-9">
                <input type="text" id="auto" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Nuomos pražia</label>
            <div class="col-md-9">
                <div class='input-group date' id='datetimepickerstart'>
                    <input type='text' class="form-control" id="orderStart" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Nuomos Pabaiga</label>
            <div class="col-md-9">
                <div class='input-group date' id='datetimepickerend'>
                    <input type='text' class="form-control" id="orderEnd" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Pristatymo vieta</label>
            <div class="col-md-9">
                <input asp-for="RentPlace" id="rentPlace" class="form-control" />
                <span asp-validation-for="RentPlace" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Grąžinimo vieta</label>
            <div class="col-md-9">
                <input asp-for="RentReturn" id="rentReturn" class="form-control" />
                <span asp-validation-for="RentReturn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Paros Kaina</label>
            <div class="col-md-9">
                <input asp-for="DayPrice" id="dayPrice" class="form-control" />
                <span asp-validation-for="DayPrice" class="text-danger"></span>
            </div>
        </div>    
    </div>
    <div class="form-horizontal col-md-6">            
        <div class="form-group">
            <label class="col-md-3 control-label">Komentarai</label>
            <div class="col-md-9">
                <input asp-for="Comments" id="comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Vardas</label>
            <div class="col-md-9">
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Pavardė</label>
            <div class="col-md-9">
                <input asp-for="Surname" id="surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Telefonas</label>
            <div class="col-md-9">
                <input asp-for="Phone" id="phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">E. Paštas</label>
            <div class="col-md-9">
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>               
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Redaguoti" onclick='edit();location.href="/Order/OrderIndex";' class="btn btn-default" />
        </div>
    </div>
    <p class="col-md-12">
        <a asp-action="OrderIndex">Grįžti į sąrašą</a>
    </p>
</div>

<script>

    $(function () {
        $('#datetimepickerstart').datetimepicker().on('dp.change', function (e) {
            orderTime(orderStart, orderEnd); isFree(orderStart, orderEnd);
        });
       

        $('#datetimepickerend').datetimepicker().on('dp.change', function (e) {
            orderTime(orderStart, orderEnd); isFree(orderStart, orderEnd);
        });
    });

    var uri = '../../api/orders/' + @ViewBag.orderId;

    $(document).ready(function (){
        $.getJSON(uri)
                .done(function (data){                  
                    $.getJSON('../../api/autos/' + data.AutoId)
               .done(function (aut) {
                   $("#auto").val(aut.Make + ' ' + aut.Model + ' ' + aut.PlateNumber);                                   
               });
                    $("#orderStart").val(data.OrderStart);
                    $("#orderEnd").val(data.OrderEnd);
                    $("#rentPlace").val(data.RentPlace);
                    $("#rentReturn").val(data.RentReturn);
                    $("#dayPrice").val(data.DayPrice);
                    $("#deliveryPrice").val(data.DeliveryPrice);
                    $("#comments").val(data.Comments);   
                    $("#name").val(data.Name);
                    $("#surname").val(data.Surname);
                    $("#phone").val(data.Phone);
                    $("#email").val(data.Email);
                });

    });

    function edit() {
        $.ajax({
            type: "PUT",
            url: "../../api/orders/" + @ViewBag.orderId,
            data: JSON.stringify({
                "AutoId": check(document.getElementById('auto').value),
                "OrderStart": checkDate(document.getElementById('orderStart').value),
                "OrderEnd": checkDate(document.getElementById('orderEnd').value),
                "RentPlace": document.getElementById('rentPlace').value,
                "RentReturn": document.getElementById('rentReturn').value,
                "DayPrice": check(document.getElementById('dayPrice').value),
                "DeliveryPrice": check(document.getElementById('deliveryPrice').value),
                "Comments": document.getElementById('comments').value
            }),
            contentType: "application/json"
        });
    }

    function check(id) {
        if (id.length == 0) {
            id = 0;
            return id;
        }
        return id;
    }

    function checkDate(date) {
        if (date.length == 0) {
            date = '2000-01-01'
            return date;

        }
        return date;
    }
</script>
