@model CarRental.DataAccess.Entities.Order
<div id='autoId' class="row">
    <h2>Naujas užsakymas</h2>
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">Automobilis</label>
            <div class="col-md-9">
                <input type="text" id="autoModel" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Nuomos pražia</label>
            <div class="col-md-9">
                <input type="date" id="orderStart" class="form-control" />
                <span asp-validation-for="OrderStart" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Nuomos Pabaiga</label>
            <div class="col-md-9">
                <input type="date" id="orderEnd" class="form-control" />
                <span asp-validation-for="OrderEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Pristatymo vieta</label>
            <div class="col-md-9">
                <input asp-for="RentPlace" id="rentPlace" class="form-control" />
                <span asp-validation-for="RentPlace" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Grąžinimo vieta</label>
            <div class="col-md-9">
                <input asp-for="RentReturn" id="rentReturn" class="form-control" />
                <span asp-validation-for="RentReturn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Paros Kaina</label>
            <div class="col-md-9">
                <input asp-for="DayPrice" id="dayPrice" class="form-control" />
                <span asp-validation-for="DayPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Pristatymo kaina</label>
            <div class="col-md-9">
                <input asp-for="DeliveryPrice" id="deliveryPrice" class="form-control" />
                <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Komentarai</label>
            <div class="col-md-9">
                <input asp-for="Commentd" id="commentd" class="form-control" />
                <span asp-validation-for="Commentd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Ivesti" onclick='create();location.href="/Order/OrderIndex";' class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-horizontal col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Modelis</th>
                    <th>Metai</th>
                    <th>Kuras</th>
                    <th>Valst. nr.</th>
                    <th>Pavaros</th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody id="autos"></tbody>
        </table>     
    </div>
    <p>
        <a asp-action="OrderIndex">Grįžti į sąrašą</a>
    </p>
</div>

<script>
    $(document).ready(function () {
        $.getJSON('/api/autos')
            .done(function (data) {
                $.each(data, function (key, item) {
                    var html = '<tr><td>' + item.Make + '</td><td>' + item.Year + '</td><td>'
                      + item.FuelType + '</td><td>' + item.PlateNumber + '</td><td>'
                      + item.Gearbox + '</td><td>'
                      + '<button type="button" class="btn btn-link" onclick="addAuto(' + item.AutoId + ');">Rinktis</button>';
                    $("#autos").append(html);
                });
            });
    });

    function create() {
        $.ajax({
            type: "POST",
            url: "../api/orders",
            data: JSON.stringify({
                "AutoId": document.getElementById('autoId').value,
                "OrderStart": checkDate(document.getElementById('orderStart').value),
                "OrderEnd": checkDate(document.getElementById('orderEnd').value),
                "RentPlace": document.getElementById('rentPlace').value,
                "RentReturn": document.getElementById('rentReturn').value,
                "DayPrice": check(document.getElementById('dayPrice').value),
                "DeliveryPrice": check(document.getElementById('deliveryPrice').value),
                "Commentd": document.getElementById('commentd').value
            }),
            contentType: "application/json"
        });
    }

    function addAuto(auto) {
        $.getJSON('../../api/autos/' + auto)
            .done(function (data) {
                $('#autoId').val(data.AutoId);
                $('#autoModel').val(data.Make + ' ' + data.PlateNumber);

            });
    }

    function check(id) {
        if (id.length == 0) {
            id = 0;
            return id;
        }
        return id;
    }

    function checkDate(date) {
        if (date.length == 0) {
            date = '2000-01-01'
            return date;

        }
        return date;
    }
</script>
