<div>
    <h2>Užsakymas</h2>
</div>
<dl class="dl-horizontal" id="order"></dl>
<p>
    <a asp-action="OrderIndex">Grįžti į sąrašą</a>
</p>
<script>
        var uri = '../../api/orders/' + @ViewBag.orderId;
        $(document).ready(function () {
            function addItem(name, value) {
                $("#order").append('<dt>' + name + '</dt><dd>' + value + '</dd>');
            }

            $.getJSON(uri)
                .done(function (data) {
                    $.getJSON('../../api/autos/' + data.AutoId)
               .done(function (data) {
                   addItem('Markė:', data.Make);
                   addItem('Modelis:', data.Model);                   
                   addItem('Numeris:', data.PlateNumber);                 
               });
                    addItem('Užsakymo pradžia:', data.OrderStart);
                    addItem('Užsakymo pabaiga:', data.OrderEnd);
                    addItem('Pristatymo vieta:', data.RentPlace);
                    addItem('Grąžinimo vieta:', data.RentReturn);
                    addItem('Paros kaina:', data.DayPrice);
                    addItem('Komentarai:', data.Comments);
                    addItem('Vardas:', data.Name);
                    addItem('Pavardė:', data.Surname);
                    addItem('Tel. Nr.:', data.Phone);
                    addItem('E. Paštas:', data.Email);
                });
        });
</script>
